I'm Currently working on moving all my past coding work in at Carleton University into these sub devided folders. all work and Matterial is copyright of Carleton University Computer Science Department 